.rocket-card {
  display: flex;
  margin: 30px;
}

button.rocket-button {
  background-color: #0290ff;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 5px;
}

button.rocket-cancel {
  background-color: red;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 5px;
}

.rocket-card-content {
  margin-left: 20px;
}
